
.icon-menu:before { content: '\f008'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */